body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#1e3a8a, #0f172a);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
    height: 200px;
    background-color: #bac6d3;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0 4px 8px rgb(36, 25, 25);
}
.left {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;

}
.left h2 {
    font-size: 24px;
    margin-top:0;
}
.left a {
    font-size: 20px;
}
.right {
    padding: 10px;
    
}
.details i {
    margin-right:8px;

}
.slogan {
    font-style: italic;
    font-size: 14px;
    padding-left:15px;
    
}
.logo {
    font-size: 25px;
    padding-left:20px
    
}
.ongoing{
    text-decoration: overline;
}
.spacing {
    padding-top:10px;
    padding-bottom: 0;
    color: black;
}
